<!-- FOOTER -->
<footer>
  <div id="page-footer" class="footer clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="footerContent">
            <h2 style="color: white;">Grodziska Warmii i Mazur</h2>
            <p>Projekt realizowany w ramach Narodowego Programu Rozwoju Humanistyki
            przez Uniwersytet Kardynała Stefana Wyszyńskiego w Warszawie
            w latach 2012-2023.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="footerContent">
            <h5>Kontakt</h5>
            <p>&nbsp;</p>
            <ul class="list-unstyled">
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailTo:grodziska.warmia.mazury@gmail.com">grodziska.warmia.mazury@gmail.com </a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="footerContent">
            <h5>Finansowanie i Partnerzy</h5>
            <img src="{{ "/assets/img/logo/logo.png" | prepend: site.baseurl }}" alt="Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRight clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <p>Copyright © 2014-2020. <a target="_blank" href="http://www.uksw.edu.pl/">Uniwersytet Kardynała Stefana Wyszyńskiego</a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
