<!-- PROMOTION PARALLAX -->
<section class="promotionWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="promotionTable">
          <div class="promotionTableInner">
            <div class="promotionInfo">
              <h2>PROJEKT KATALOG GRODZISK WARMII I MAZUR</h2>
              <span>W RAMACH NARODOWEGO PROGRAMU ROZWOJU HUMANISTYKI</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- TOP DEALS -->
<section class="mainContentSection packagesSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitle">
          <h2><span class="lightBg">Etapy projektu</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-sm-6 col-xs-12">
        <div class="thumbnail deals">
          <img src="grodziska/wieprz/img/ryc1.jpg" alt="Etap 1">
          <a href="etap1/index.html" class="pageLink"></a>
          <div class="discountInfo">
            <div class="discountOffer">
              <h4>
                2012 <span>-2017</span>
              </h4>
            </div>

          </div>
          <div class="caption">
            <h4><a href="etap1/index.html" class="captionTitle">CZĘŚĆ I: POMEZANIA, POGEZANIA I WARMIA (2012–2017)</a></h4>
            <p>kierownik projektu prof. dr hab. Zbigniew Kobyliński.</p>
            <div class="detailsInfo">

              <ul class="list-inline detailsBtn">
                <li><a href='etap1/index.html' class="btn buttonTransparent">Przejdź do strony projektu</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="thumbnail deals">
          <img src="grodziska/baloszyce/img/thumb.jpg" alt="Etap 2">
          <a href="etap2/index.html" class="pageLink"></a>
          <div class="discountInfo">
            <div class="discountOffer">
              <h4>
                2017 <span>-2023</span>
              </h4>
            </div>

          </div>
          <div class="caption">
            <h4><a href="etap2/index.html" class="captionTitle">CZĘŚĆ II: POMEZANIA WSCHODNIA I NATANGIA (2017–2023)</a></h4>
            <p>kierownik projektu dr Rafał Solecki</p>
            <div class="detailsInfo">
              <ul class="list-inline detailsBtn">
                <li><a href='etap2/index.html' class="btn buttonTransparent">Przejdź do strony projektu</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
