<!-- JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ "/assets/plugins/jquery-ui/jquery-ui.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/plugins/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/plugins/datepicker/bootstrap-datepicker.js" | prepend: site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="{{ "/assets/plugins/counter-up/jquery.counterup.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/plugins/isotope/isotope.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/plugins/isotope/jquery.fancybox.pack.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/plugins/isotope/isotope-triger.js" | prepend: site.baseurl }}"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="{{ "/assets/plugins/countdown/jquery.syotimer.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/plugins/smoothscroll/SmoothScroll.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
<!-- <script src="{{ "/assets/js/proj4js-combined.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/OpenLayers-2.12/OpenLayers.js" | prepend: site.baseurl }}"></script> -->
