<section class="bannercontainer">
<div class="row">
<div class="col-md-2">
  <div class="legend-col">
    <h3>Legenda</h3>
    <p><img src="{{ "/assets/img/map/grodzisko.png" | prepend: site.baseurl }}" width="15" /> grodziska zweryfikowane</p>
    <p><img src="{{ "/assets/img/map/sondaz.png" | prepend: site.baseurl }}" width="12" /> domniemane grodziska poddane falsyfikacji</p>
    <hr/>
    <p>Projekt badawczy NPRH realizowany przez Instytut Archeologii UKSW w latach 2012-2017</p>
  </div>
</div>
<div class="col-md-8">
  <div class="main-map" id="map">
  </div>
</div>
</section>
