<!-- TOUR PACKAGES -->
<section class="whiteSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitle">
          <h2><span>Katalog Grodzisk</span></h2>
          <p>Wybrane stanowiska</p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/wielka_zulawa/img/thumb.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Wielka Żuława</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/wielka_zulawa/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/gulb/img/thumb.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Gulb</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/gulb/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/kamionka/img/thumb.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Kamionka</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/kamionka/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/laseczno_male/img/thumb.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Laseczno Małe</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/laseczno_male/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/karolewo/img/ryc1.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Karolewo</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/karolewo/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/struzyna/img/ryc1.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Strużyna</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/struzyna/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
    </div>
  </div>
</section>
