<!-- TOUR PACKAGES -->
<section class="whiteSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitle">
          <h2><span>Katalog Grodzisk</span></h2>
          <p>Przykładowe stanowiska</p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/augamy_1/img/Augamy_1_NMT.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Augamy</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/augamy_1/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/bornity_12/img/Bornity_12_NMT.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Bornity</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/bornity_12/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/giedyle_1/img/Giedyle_1_NMT.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Giedyle</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/giedyle_1/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/glebock_5/img/Głębock_5_NMT.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Głębock</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/glebock_5/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/jarzen_1/img/Jarzen_1_NMT.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Jarzeń</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/jarzen_1/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
        <div class="col-sm-4 isotopeSelector">
          <article class="">
            <figure>
              <img src="{{ "/grodziska/lubianka_6/img/Lubianka_6_NMT.jpg" | prepend: site.baseurl }}" alt="">
              <h4>Lubianka</h4>
              <div class="overlay-background">
                <div class="inner"></div>
              </div>
              <div class="overlay">
                <a class="fancybox-pop" href="{{ "/grodziska/lubianka_6/" | prepend: site.baseurl }}">
                <div class="overlayInfo">
                  <h5></h5>
                  <p>Zobacz szczegóły</p>
                </div>
                </a>
              </div>
            </figure>
          </article>
        </div>
    </div>
  </div>
</section>
