<!DOCTYPE html>
<html lang="pl">

{% include head.html %}

<body>
  {% include gtm.html %}
  <div class="main-wrapper">
    {% if page.etap and page.etap == 2 %}
      {% include etap2/nav.html %}
    {% else %}
      {% include etap1/nav.html %}
    {% endif %}

    <!-- PAGE TITLE -->
    <section class="pageTitle" style="background-image:url({{ "/assets/img/pages/page-title-bg3.jpg" | prepend: site.baseurl }});">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1>{{ page.title }}</h1>
                  <div class="under-border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection singlePackage">
      <div class="container">
        <div class="row countryTitle">

        <div class="row">
          <div class="col-xs-12">
            <div role="tabpanel" class="countryTabs">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#tab-opis" aria-controls="tab-opis" role="tab" data-toggle="tab">OPIS I PLAN</a>
                </li>
                {% if page.kontekst %}
                <li role="presentation">
                  <a href="#tab-kontekst" aria-controls="tab-kontekst" role="tab" data-toggle="tab">KONTEKST</a>
                </li>
                {% endif %}
                {% if page.badania or page.znaleziska %}
                <li role="presentation">
                  <a href="#tab-badania" aria-controls="tab-badania" role="tab" data-toggle="tab">BADANIA I ZNALEZISKA</a>
                </li>
                {% endif %}
                {% if page.chronologia %}
                <li role="presentation">
                  <a href="#tab-chronologia" aria-controls="tab-chronologia" role="tab" data-toggle="tab">CHRONOLOGIA</a>
                </li>
                {% endif %}
                <li role="presentation">
                  <a href="#tab-mapa" aria-controls="tab-mapa" role="tab" data-toggle="tab">GEOPORTAL</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab-opis">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="commonInfo">
                        <h2>{{ page.title }}</h2>
                        <p>{{ page.opis }}</p>
                        {% if page.sprawozdanie %}
                        <p><i class="fa fa-download" aria-hidden="true"></i> <a href="{{ "/pdf/" | prepend: page.url | prepend: site.baseurl | append: page.sprawozdanie }}">Pełne opracowanie</a></p>
                        {% endif %}
                        {% if page.plan_pdf %}
                        <p><i class="fa fa-download" aria-hidden="true"></i> <a href="{{ "/pdf/" | prepend: page.url | prepend: site.baseurl | append: page.plan_pdf }}">Plan stanowiska</a></p>
                        {% endif %}
                        {% if page.plan %}
                        <div class="col-sm-4 col-xs-12">
                          <div class="gallery-item">
                            <p><a class="fancybox-pop" title="Plan stanowiska" href="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: page.plan }}"><img src="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: page.plan }}" alt="Plan stanowiska"></a></p>
                          </div>
                        </div>
                        {% endif %}
                        {% if page.plan_3d %}
                        <div class="col-sm-4 col-xs-12">
                          <div class="gallery-item">
                            <p><a class="fancybox-pop" title="Plan 3D" href="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: page.plan_3d }}"><img src="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: page.plan_3d }}" alt="Plan 3D"></a></p>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                {% if page.kontekst %}
                <div role="tabpanel" class="tab-pane" id="tab-kontekst">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="commonInfo">
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="relatedProduct imgGalery">
                              <h2>Kontekst</h2>
                              <div class="row">
                                {% for b in page.kontekst %}
                                <div class="col-sm-4 col-xs-12">
                                  <div class="gallery-item">
                                    <a class="fancybox-pop" title="{{ b.desc }}" href="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}"><img src="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}" alt="{{ b.desc }}"></a>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}

                {% if page.badania or page.znaleziska %}
                <div role="tabpanel" class="tab-pane" id="tab-badania">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="commonInfo">
                        {% if page.badania %}
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="relatedProduct imgGalery">
                              <h2>Badania</h2>
                              <div class="row">
                                {% for b in page.badania %}
                                <div class="col-sm-4 col-xs-12">
                                  <div class="gallery-item">
                                    <a class="fancybox-pop" title="{{ b.desc }}" href="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}"><img src="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}" alt="{{ b.desc }}"></a>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}

                        {% if page.znaleziska %}
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="relatedProduct imgGalery">
                              <h2>Znaleziska</h2>
                              <div class="row">
                                {% for b in page.znaleziska %}
                                <div class="col-sm-4 col-xs-12">
                                  <div class="gallery-item">
                                    <a class="fancybox-pop" title="{{ b.desc }}" href="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}"><img src="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}" alt="{{ b.desc }}"></a>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}

                {% if page.chronologia %}
                <div role="tabpanel" class="tab-pane" id="tab-chronologia">
                  <div class="row">
                    <div class="col-sm-8 col-xs-12">
                      <div class="commonInfo">
                        <h2>some title should be here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <ul class="list-inline">
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="well">
                        <h3>benefits</h3>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-check-square" aria-hidden="true"></i>Some Benefit</li>
                          <li><i class="fa fa-check-square" aria-hidden="true"></i>Some Benefit Should Be Here</li>
                          <li><i class="fa fa-check-square" aria-hidden="true"></i>Some Benefit Be Here</li>
                          <li><i class="fa fa-check-square" aria-hidden="true"></i>Some Benefit Be</li>
                        </ul>
                        <a href="booking-1.html" class="btn buttonCustomPrimary">BOOK NOW</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}

                <div role="tabpanel" class="tab-pane" id="tab-mapa">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="map-buttons">
                        <button type="button" id="layer0" class="btn btn-primary active">Mapa bazowa</button>
                        <button type="button" id="layer1" class="btn btn-primary">Ortofotomapa</button>
                        <button type="button" id="layer2" class="btn btn-primary">Mapa WIG 100k</button>
                        <button type="button" id="layer3" class="btn btn-primary">Messtischblatter 25k</button>
                        <button type="button" id="layer4" class="btn btn-primary">LIDAR</button>
                        <button type="button" id="layer5" class="btn btn-primary">ISOK hipsometria</button>
                        <button type="button" id="layer6" class="btn btn-primary">ISOK cieniowanie</button>
                        <button type="button" id="layer7" class="btn btn-primary">Geologia</button>
                        <button type="button" id="layer8" class="btn btn-primary">Siatka AZP</button>
                        <button type="button" id="layer9" class="btn btn-primary">Badania powierzchniowe</button>
                      </div>
                      <div id="detail-map" class="detail-map"></div>
                      <div id="map-legend" class="map-legend"><br/><h3>Legenda:</h3><img src="{{ "/assets/img/map/azplegend.png" | prepend: site.baseurl }}" /></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    {% include footer.html %}

  </div>

  {% include scripts.html %}
  <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.js"></script>
  <script src="{{ "/assets/js/ol3-layerswitcher.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/detailmap.js" | prepend: site.baseurl }}"></script>

  <script>
  var firstRun = true;

  $('a[data-toggle="tab"]').on('shown.bs.tab', function(evt) {
    if (firstRun == false) return;

    var anchor = $( evt.target ).attr( 'href' );
    if (anchor != "#tab-mapa") return;

    firstRun = false;
    drawDetailMap("{{ page.title }}");
  });
  </script>
</body>
</html>
