<!DOCTYPE html>
<html lang="pl">

{% include head.html %}

<body>
  {% include gtm.html %}
  <div class="main-wrapper">
    {% include nav.html %}

    <!-- PAGE TITLE -->
    <section class="pageTitle" style="background-image:url({{ "/assets/img/pages/page-title-bg3.jpg" | prepend: site.baseurl }});">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1>{{ page.nazwa }}</h1>
                  <div class="under-border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection singlePackage">
      <div class="container">
        <div class="row countryTitle">

        <div class="row">
          <div class="col-xs-12">
            <div role="tabpanel" class="countryTabs">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#tab-opis" aria-controls="tab-opis" role="tab" data-toggle="tab">OPIS I PLAN</a>
                </li>
                <li role="presentation">
                  <a href="#tab-kontekst" aria-controls="tab-dokumentacja" role="tab" data-toggle="tab">KONTEKST</a>
                </li>
                <li role="presentation">
                  <a href="#tab-badania" aria-controls="tab-dokumentacja" role="tab" data-toggle="tab">BADANIA I ZNALEZISKA</a>
                </li>
                <li role="presentation">
                  <a href="#tab-chronologia" aria-controls="tab-dokumentacja" role="tab" data-toggle="tab">CHRONOLOGIA</a>
                </li>
                <li role="presentation">
                  <a href="#tab-mapa" aria-controls="tab-dokumentacja" role="tab" data-toggle="tab">MAPA</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab-opis">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="commonInfo">
                        <h2>{{ page.nazwa }}</h2>
                        <p>{{ page.opis }}</p>

                          <div class="gallery-item">
                        <p><a class="fancybox-pop" title="Plan stanowiska" href="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: page.plan }}"><img src="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: page.plan }}" alt="Plan stanowiska"></a></p>
                      </div></div>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="tab-kontekst">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="commonInfo">
                        {% if page.kontekst %}
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="relatedProduct imgGalery">
                              <h2>Kontekst</h2>
                              <div class="row">
                                {% for b in page.kontekst %}
                                <div class="col-sm-4 col-xs-12">
                                  <div class="gallery-item">
                                    <a class="fancybox-pop" title="{{ b.desc }}" href="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}"><img src="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}" alt="{{ b.desc }}"></a>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="tab-badania">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="commonInfo">
                        {% if page.badania %}
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="relatedProduct imgGalery">
                              <h2>Badania</h2>
                              <div class="row">
                                {% for b in page.badania %}
                                <div class="col-sm-4 col-xs-12">
                                  <div class="gallery-item">
                                    <a class="fancybox-pop" title="{{ b.desc }}" href="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}"><img src="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}" alt="{{ b.desc }}"></a>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}

                        {% if page.znaleziska %}
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="relatedProduct imgGalery">
                              <h2>Znaleziska</h2>
                              <div class="row">
                                {% for b in page.znaleziska %}
                                <div class="col-sm-4 col-xs-12">
                                  <div class="gallery-item">
                                    <a class="fancybox-pop" title="{{ b.desc }}" href="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}"><img src="{{ "/img/" | prepend: page.url | prepend: site.baseurl | append: b.img }}" alt="{{ b.desc }}"></a>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="tab-chronologia">
                  <div class="row">
                    <div class="col-sm-8 col-xs-12">
                      <div class="commonInfo">
                        <h2>some title should be here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <ul class="list-inline">
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                          <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="well">
                        <h3>benefits</h3>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-check-square" aria-hidden="true"></i>Some Benefit</li>
                          <li><i class="fa fa-check-square" aria-hidden="true"></i>Some Benefit Should Be Here</li>
                          <li><i class="fa fa-check-square" aria-hidden="true"></i>Some Benefit Be Here</li>
                          <li><i class="fa fa-check-square" aria-hidden="true"></i>Some Benefit Be</li>
                        </ul>
                        <a href="booking-1.html" class="btn buttonCustomPrimary">BOOK NOW</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    {% include footer.html %}

  </div>

  {% include scripts.html %}
</body>
</html>
